{# Sets default values. #}
{% set search = search ?? '' %}
{% set section = section ?? '' %}
{% set status = status ?? 'live' %}
{% set limit = limit ?? 5 %}
{% set page = page ?? 1 %}
{% set orderBy = orderBy ?? 'postDate' %}
{% set sortBy = sortBy ?? 'desc' %}

{# Gets allowed sections from handles. #}
{% set allowedSectionHandles = ['articles', 'plugins'] %}
{% set allowedSections = allowedSectionHandles|map(handle => craft.app.sections.sectionByHandle(handle)) %}

{# Sets section to all allowed section handles if not an allowed section handle. #}
{% set section = section in allowedSectionHandles ? section : allowedSectionHandles|join(',') %}

{# Create an array of filters. #}
{% set filters = {
    search: search,
    section: section,
    status: status,
    limit: limit,
} %}

{# Push the URL into the history stack with the filters, adding extra values. #}
{% do sprig.pushUrl('?' ~ filters|merge({
    page: page,
    orderBy: orderBy,
    sortBy: sortBy,
})|url_encode) %}

{# Generate the entry query using the filters, adding extra conditions. #}
{% set entryQuery = craft.entries(filters|merge({
    orderBy: orderBy ~ ' ' ~ sortBy,
    with: [
        ['image', {
            withTransforms: ['thumb']
        }]
    ],
})) %}

{# Paginate entry query to get page info. #}
{% set pageInfo = sprig.paginate(entryQuery, page) %}
{# Get entries from page results. #}
{% set entries = pageInfo.pageResults %}

{# Defines status options. #}
{% set statusOptions = {
    live: { label: 'Live', classes: 'bg-green-100 text-green-800' },
    pending: { label: 'Pending', classes: 'bg-orange-100 text-orange-800' },
    expired: { label: 'Expired', classes: 'bg-red-100 text-red-800' },
    disabled: { label: 'Disabled', classes: 'bg-gray-100 text-gray-800' },
} %}

{# Defines limit options. #}
{% set limitOptions = [5, 10, 25, 50] %}

{# Defines maximum number of pages to show. #}
{% set maxPages = 5 %}

{# Output hidden input fields to persist the variables. #}
{{ hiddenInput('orderBy', orderBy) }}
{{ hiddenInput('sortBy', sortBy) }}

<div s-replace="#board" class="flex flex-col space-y-3 sm:px-4">
    <div class="flex space-x-2 px-4 sm:px-0">
        <div class="flex flex-col flex-grow space-y-1">
            <label for="search" class="block text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Search
            </label>
            <div class="mt-1 rounded-md shadow-sm">
                <input sprig s-trigger="keyup changed delay:300ms" id="search" name="search" value="{{ search }}" type="text" placeholder="Search..." class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
            </div>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="section" class="block text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Section
            </label>
            <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
                <select sprig id="section" name="section" class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                    <option value="">All</option>
                    {% for allowedSection in allowedSections %}
                        <option value="{{ allowedSection.handle }}" {{ allowedSection.handle == section ? 'selected' }}>{{ allowedSection.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="status" class="block text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Status
            </label>
            <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
                <select sprig id="status" name="status" class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                    <option value="">All</option>
                    {% for value, option in statusOptions %}
                        <option value="{{ value }}" {{ value == status ? 'selected' }}>{{ option.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="flex flex-col space-y-1">
            <label for="limit" class="block text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Limit
            </label>
            <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
                <select sprig id="limit" name="limit" class="block form-select w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                    {% for limitOption in limitOptions %}
                        <option value="{{ limitOption }}" {{ limitOption == limit ? 'selected' }}>{{ limitOption }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div id="board" class="flex flex-col space-y-3">
        <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider whitespace-no-wrap">
                                        <a sprig s-val:order-by="title" s-val:sort-by="{{ orderBy == 'title' and sortBy == 'asc' ? 'desc' : 'asc' }}" href="#" class="hover:underline">Entry</a>
                                        {% if orderBy == 'title' %}
                                            <div class="inline-block w-4 h-4 align-bottom">
                                                {% if sortBy == 'desc' %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                    </svg>
                                                {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                                                    </svg>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </th>
                                    <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider whitespace-no-wrap">
                                        Section
                                    </th>
                                    <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider whitespace-no-wrap">
                                        <a sprig s-val:order-by="postDate" s-val:sort-by="{{ orderBy == 'postDate' and sortBy == 'desc' ? 'asc' : 'desc' }}" href="#" class="hover:underline">Post Date</a>
                                        {% if orderBy == 'postDate' %}
                                            <div class="inline-block w-4 h-4 align-bottom">
                                                {% if sortBy == 'desc' %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                    </svg>
                                                {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                                                    </svg>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </th>
                                    <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider whitespace-no-wrap">
                                        Status
                                    </th>
                                    <th class="px-6 py-3 bg-gray-50"></th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                {% for entry in entries %}
                                    <tr>
                                        <td class="px-6 py-3 whitespace-no-wrap">
                                            <div class="flex items-center space-x-3">
                                                <div class="flex-shrink-0 h-10 w-10">
                                                    {% set image = entry.image[0] ?? null %}
                                                    {% if image %}
                                                        <img src="{{ image.getUrl('thumb') }}" alt="{{ entry.title }}" class="h-10 w-10 block rounded-full">
                                                    {% endif %}
                                                </div>
                                                <div class="text-sm leading-5">
                                                    <div class="font-medium text-gray-900">
                                                        {{ entry.title }}
                                                    </div>
                                                    <div class="text-gray-500">
                                                        {{ entry.slug }}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-6 py-3 whitespace-no-wrap">
                                            <div class="text-sm leading-5 text-gray-500">
                                                {{ entry.section.name }}
                                            </div>
                                        </td>
                                        <td class="px-6 py-3 whitespace-no-wrap">
                                            <div class="text-sm leading-5 text-gray-500">
                                                {{ entry.postDate|date }}
                                            </div>
                                        </td>
                                        <td class="px-6 py-3 whitespace-no-wrap">
                                            {% set classes = statusOptions[entry.status].classes %}
                                            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{ classes }}">
                                                    {{ statusOptions[entry.status].label }}
                                                </span>
                                        </td>
                                        <td class="px-6 py-3 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                                            {% if currentUser.can('editEntries:' ~ entry.section.uid) %}
                                                <a href="{{  entry.cpEditUrl }}" target="_blank" class="text-blue-500 hover:text-blue-700">
                                                    <svg class="inline-block w-5 h-5 align-text-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                                                    </svg>
                                                </a>
                                            {% else %}
                                                <svg class="text-gray-400 inline-block w-5 h-5 align-text-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                                                </svg>
                                            {% endif %}
                                            <a href="{{ entry.url }}" target="_blank" class="text-blue-500 hover:text-blue-700">
                                                <svg class="inline-block w-5 h-5 align-text-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if entries is empty %}
                                    <tr>
                                        <td colspan="6" class="px-6 py-3 whitespace-no-wrap">
                                            <div class="text-center text-lg leading-7 text-gray-700">
                                                No entries found
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-4 sm:px-0">
            <div class="flex-1 flex justify-between sm:hidden">
                <div>
                    {% if page > 1 %}
                        <a sprig s-val:page="{{ page - 1 }}" href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            Previous
                        </a>
                    {% endif %}
                </div>
                <div>
                    {% if page < pageInfo.totalPages %}
                        <a sprig s-val:page="{{ page + 1 }}" href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                            Next
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                <p class="text-sm leading-5 text-gray-700">
                    Showing
                    <span class="font-medium">{{ pageInfo.first }}</span>
                    -
                    <span class="font-medium">{{ pageInfo.last }}</span>
                    of
                    <span class="font-medium">{{ pageInfo.total }}</span>
                    entries
                </p>
                <div class="flex items-center space-x-4">
                    <p class="text-sm leading-5 text-gray-700">
                        Page
                        <span class="font-medium">{{ pageInfo.currentPage }}</span>
                        of
                        <span class="font-medium">{{ pageInfo.totalPages }}</span>
                        pages
                    </p>
                    <nav class="relative z-0 inline-flex shadow-sm">
                        <a sprig s-val:page="{{ page > 1 ? page - 1 : 1 }}" href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Previous">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                        {% for pageNumber in pageInfo.dynamicRange(maxPages) %}
                            <a sprig s-val:page="{{ pageNumber }}" href="#" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150 {{ pageNumber == page ? 'bg-gray-100 text-gray-600' : 'text-gray-700' }}">
                                {{ pageNumber }}
                            </a>
                        {% endfor %}
                        <a sprig s-val:page="{{ page < pageInfo.totalPages ? page + 1 : pageInfo.totalPages }}" href="#" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
