<nav>
    <ul class="bg-white border border-gray-300 rounded-md divide-y divide-gray-300 md:flex md:divide-y-0">
        {% for key, label in steps %}
            <li class="relative md:flex-1 md:flex">
                <a sprig s-val:step="{{ key }}" href="#" class="group flex items-center w-full">
                    <div class="px-6 py-4 flex items-center text-sm leading-5 font-medium space-x-4">
                        {% if step > key %}
                            <div class="flex-shrink-0 w-10 h-10 flex items-center justify-center bg-blue-600 rounded-full group-hover:bg-blue-800 transition ease-in-out duration-150">
                                <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <p class="text-sm leading-5 font-medium text-gray-900">{{ label }}</p>
                        {% elseif step == key %}
                            <div class="flex-shrink-0 w-10 h-10 flex items-center justify-center border-2 border-blue-600 rounded-full">
                                <p class="text-blue-600">{{ key }}</p>
                            </div>
                            <p class="text-sm leading-5 font-medium text-blue-600">{{ label }}</p>
                        {% else %}
                            <div class="flex-shrink-0 w-10 h-10 flex items-center justify-center border-2 border-gray-300 rounded-full group-hover:border-gray-400 transition ease-in-out duration-150">
                                <span class="text-gray-500 group-hover:text-gray-900 transition ease-in-out duration-150">{{ key }}</span>
                            </div>
                            <p class="text-sm leading-5 font-medium text-gray-900">{{ label }}</p>
                        {% endif %}
                    </div>
                </a>
                {% if key < steps|length %}
                    <div class="hidden md:block absolute top-0 right-0 h-full w-5">
                        <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
                            <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
                        </svg>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
